altgraph==0.15
astroid==1.6.5
autopep8==1.3.5
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
future==0.16.0
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
lxml==4.2.1
macholib==1.9
mccabe==0.6.1
pdfminer.six==20170720
pefile==2017.11.5
pycodestyle==2.4.0
pycryptodome==3.6.3
pycryptodomex==3.6.3
PyInstaller==3.3.1
pylint==1.9.2
python-docx==0.8.6
requests==2.20.0
selenium==3.12.0
six==1.11.0
urllib3==1.23
wrapt==1.10.11
pytest==3.6.3
vcrpy==1.12
pytest-vcr==0.3.0
xhtml2pdf==0.2.2
applicationinsights==0.11.6
